table.js-table__data    
    thead
        tr
            td
                h4 Соискатель
            td
                h4 Телефон
            td
                h4 E-mail
            td
                h4 Оценка соискателя
            td                                
    tbody
        if content
            each item in content
                include __rowItem/table__rowItem.pug
