table.js-table__data
    thead
        tr
            each item in headers
                td
                    h4=item
            td
    tbody
        each item in content
            include __rowItem/table__rowItem.pug