$color_dark: #29313C

@import "./../form/form"
@import "./../header/header"
@import "./../menu/menu"
@import "./../sidebar/sidebar"
@import "./../table/table"

*
    font-family: Roboto

h1, h2, h3, h4, h5 
    color: #475364
    font-weight: bold

p
    color: #8EA4B5

h2
    line-height: 24px
    font-size: 22px

h3
    line-height: 12px
    font-size: 11px

h4
    line-height: 14px
    font-size: 12px

body
    padding: 0
    margin: 0
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    background-color: #f4fbfd

.app
    padding-top: 66px
    padding-left: 110px
    -webkit-box-flex: 1
    -ms-flex: 1 0 auto
    flex: 1 0 auto 
    


