.menu__title
    h2="Ваши соискатели"
    p="Всего соискателей: " +contactsNum
.menu__buttons
    .btn_favourites
        button.favourites(data-action="addToFavourite")="Избранные"
    .btn_newPerson
        button.newPerson(data-action="new")="Добавить соискателя"