.menu__title
    h2="Ваши соискатели"
    p="Всего соискателей: " +perNum
.menu__buttons
    .btn_favourites
        button.favourites="Избранные"
    .btn_newPerson
        button.newPerson="Добавить соискателя"